<!-- start custom footer snippets -->
<a href="/sitemap/" xmlns="http://www.w3.org/1999/html">Sitemap</a>
<div class="container">
          <footer>
              <div class="row">
                  <div id="clustrmaps-widget" style="width: 10%; margin: 0 auto;" >
                      <script type="text/javascript" id="clstr_globe" src="//cdn.clustrmaps.com/globe.js?d=PLeIAqQl-E_WHdMw32ErfTf5hTuPlUtFgCHhzZwupq4"></script>
                  </div>
              </div>
          </footer>
</div>
<!-- end custom footer snippets -->
